<div class="content-movil">
  <div class="setting-left">
    <div class="items-setting">
      <div class="item">
        <app-item-search></app-item-search>
      </div>
      <div class="item">
        <app-item-tab-sidebar></app-item-tab-sidebar>
      </div>
      <div class="item">
        <app-item-block></app-item-block>
      </div>
      <div class="item">
        <app-item-themes></app-item-themes>
      </div>
      <div class="item">
        <app-item-home></app-item-home>
      </div>
    </div>
  </div>
</div>
<div class="content-notmovil">
  <div class="logo">
    <div class="item"><app-item-logo></app-item-logo></div>
  </div>
  <div class="setting-left">
    <div class="items-setting">
      <div class="item">
        <app-item-block></app-item-block>
      </div>
      <div class="item">
        <app-item-themes></app-item-themes>
      </div>
      <div class="item">
        <app-item-tab-sidebar></app-item-tab-sidebar>
      </div>
      <div class="item">
        <app-item-home></app-item-home>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="item">
      <app-item-search></app-item-search>
    </div>
  </div>
  <div class="setting-rigth">
    <div class="items-setting">
      <div class="item">
        <app-item-general-setting></app-item-general-setting>
      </div>
    </div>
  </div>
</div>
